@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background-color: #d0b1d1;
}

::-webkit-scrollbar-thumb {
  background-color: #ffffff;
}

.fade-container {
  display: flex;
  justify-content: start;
  align-items: start;
  text-align: start;
}

.fade-text {
  opacity: 0;
  /* font-size: 76px; */
  /* padding-top: 7px; */
  /* padding-bottom: 7px; */
  /* font-weight: 800; */
  color: "";
  transition: opacity 1s ease-in-out;
  /* position: absolute; */
}

.fade-in {
  opacity: 1;
}

.fade-out {
  opacity: 0;
}


.swiper-button-prev,
.swiper-button-next {
  color: #d154d6 !important; /* Match your theme color */
}

.swiper-pagination-bullet-active {
  background: #d154d6 !important;
}